td, th{
    border-style: solid;
}

#gymroutine, #muaythairoutine, #runningroutine, #otherroutine{
    display: none;
}

div#date_section{
    display: inline-flex;
    align-items: center;
}

input#workoutdate{
    margin: 0 10px;
    font-size: 15px;
}

#submit{
    width: 55px;
    margin: 0;
    padding: 1px 0;
}

h2#date{
    width: 100%;
}

.weight input{
    width: 20%;
    margin: 0 10px;
}

.repsdata{
    display: grid;
    grid-template-columns: 75px 40px;
    justify-items: center;
    align-items: center;
}
.repsdata p{
    margin: 0;
    position: relative;
    left: 3px;
}