td, th{
    border-style: solid;
}

#gymroutine, #muaythairoutine, #runningroutine, #otherroutine{
    display: none;
}

div#date_section{
    display: inline-flex;
    align-items: center;
}

input#workoutdate{
    margin: 0 10px;
    font-size: 15px;
}

#submit{
    width: 55px;
    margin: 0;
    padding: 1px 0;
}

h2#date{
    width: 100%;
}

.weight input{
    width: 20%;
    margin: 0 10px;
}

.repsdata{
    display: grid;
    grid-template-columns: 75px 40px;
    justify-items: center;
    align-items: center;
}
.repsdata p{
    margin: 0;
    position: relative;
    left: 3px;
}

/*Running Table*/
#runningtable{
    display: grid;
    grid-template-areas: 
    "r1 r2 r3 r4 r5 r6"
    "r7 r8 r9 r10 r11 r12";
    grid-template-columns: repeat(6, 200px);
    justify-items: center;
    width: 1000px;
    margin: 0 0 20px 20px;
    
}

#runningtable div{
    width: 100%;
    display: grid;
    justify-content: center;
    border-style: solid;
    border-top: none;
    border-right: none;
}

#runningtable div:nth-of-type(-n+6){
    border-top: solid;
}

#runningtable div:nth-of-type(6n+0){
    border-right: solid;
}

#runningtable div p{
    font-weight: bold;
    font-size: 16px;
}

#runningtable div p, #runningtable div input, #runningtable div select{
    margin: 10px 5px;
}

#r8{
    grid-template-columns: 80px 20px;
}

#r11{
    grid-template-columns: 80px 60px;
}

#r9{
    grid-template-columns: 60px 40px 60px 40px;
}

#r10{
    grid-template-columns: 60px 20px 60px 40px;
}



